/* start variables */
:root {
  --maincolor: #10cab7;
  --secondarycolor: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}

/* end variables */
/* start comp */
.special-heading {
  color: #ebeceb;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* end comp */
/*Start Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End Global rules */
/* header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
header .links .icon span:first-child {
  height: 3px;
  width: 100%;
}
header .links .icon span:nth-child(2) {
  height: 3px;
  width: 60%;
  transition: 0.3s;
}

header .links .icon span:last-child {
  height: 3px;
  width: 100%;
}
header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--section-background);
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 1;
}
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--section-background) transparent;
  right: 5px;
  position: absolute;
  top: -20px;
}
header .links:hover ul {
  display: block;
}
ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
ul a:hover {
  padding-left: 25px;
}
ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* end header */
/* start landing */
.landing {
  background-image: url(/template_1/img/landing.jpg);
  background-size: cover;
  position: relative;
  height: calc(100vh - 64px);
}
.intro-text {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.intro-text h1 {
  margin: 0;
  color: var(--maincolor);
  font-size: 50px;
  font-weight: bold;
}
.intro-text p {
  font-size: 19px;
  line-height: 1.8c;
}
/* end landing */
/* start features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.feat {
  padding: 20px;
  text-align: center;
}
i {
  color: var(--maincolor);
}
.feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.feat p {
  line-height: 1.8;
  font-size: 18px;
  color: #777;
}
/* start services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.serv_contenet {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
  text-align: center;
}
.serv {
  display: flex;
  margin-bottom: 40px;
}
.serv i {
  color: var(--maincolor);
  flex-basis: 60px;
}
.serv .text {
  flex: 1;
}
.serv h3 {
  margin: 0 0 20px;
}
.serv p {
  color: #444;
  line-height: 1.8;
  font-weight: 300;
}
.services .image {
  position: relative;
  text-align: center;
}
.services .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondarycolor);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .image {
    display: none;
  }
}
.services .image img {
  width: 260px;
}
@media (max-width: 760px) {
  .serv {
    flex-direction: column;
  }
}
/* end services */
/* portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.card {
  background-color: #fff;
}
.info {
  padding: 20px;
}
.portfolio_content p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
.info h3 {
  margin: 0;
}
.portfolio_content .card img {
  max-width: 100%;
}
/* end portfolio */
/* about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about_content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_content .image {
  position: relative;
  width: 250px;
  height: 375px px;
}
.about_content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--maincolor);
  border-bottom: 80px solid var(--maincolor);
  z-index: -1;
  right: -150px;
}
.about_content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about_content .image img {
  max-width: 100%;
}

.about_content .text {
  flex-basis: calc(100% - 500px);
}
.about_content .text p:first-of-type {
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 50px;
}
.about_content .text hr {
  width: 50%;
  border-color: var(--maincolor);
  display: inline-block;
}
.about_content .text p:last-of-type {
  line-height: 1.8;
  color: #777;
}
@media (max-width: 991px) {
  .about_content {
    flex-direction: column;
    text-align: center;
  }
  .about_content .image::before,
  .about_content .image::after {
    display: none;
  }
  .about_content .image {
    margin: 0 auto 60px;
  }
}
/* end about */
/* contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondarycolor);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.info a {
  display: block;
  font-size: 40px;
  font-weight: 800;
  color: var(--maincolor);
  text-decoration: none;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondarycolor);
}
@media (max-width: 767px) {
  .label,
  .info a {
    font-size: 25px;
  }
}
/* end contact */
/* footer */
.footer {
  background-color: #2c4755;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.footer span {
  color: var(--maincolor);
  font-weight: bold;
}
/* end footer */
